

.loader{

    position: absolute;
    width:100%;
    height:100vh;
    background: linear-gradient(45deg,$gradient1 ,$gradient2);
    z-index: 1000;
    transition: opacity 1s ease-out;


    img{

        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }

}


.disappear{

    opacity:0;
}

