

$primary-color:#1d3557;
$secondary-color:#e63946;
$third-color:#F2FDFF;
$fourth-color:#457b9d;
$fifth-color:#f1faee;

// colors for texts in blocks

$top-text:#101935;
$bottom-text:#F2FDFF;

// gradients

//gradient app
$gradient1 : rgb(22, 106, 109);
$gradient2 : rgb(41, 115, 212);


//gradient body
$gradient3 : rgb(255,255,255);
$gradient4: rgb(230, 230, 230);
